<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb breadcrumb-main">
			<li><a href="#/home">Aplikasi</a></li>
			<li><a href="#/menu/{{curMenu}}">{{getParentTitle()}}</a></li>
			<li class="active"><span class="label label-warning">{{getItemTitle(2)|uppercase}}</span></li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="well widget">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="spacer-h"></div>
						<div class="well">
							<form role="form" class="form-horizontal" name="formarbm">
								<div class="form-group">
									<label for="arbm-unit" class="col-md-1 col-md-offset-1 control-label" data-ng-show="needUnit()">UNIT:</label>
									<div class="col-md-3" data-ng-show="needUnit()">
										<select name="unit" id="arbm-unit" class="select2" style="width: 100%" data-ng-options="c.id as c.nama for c in unit" data-ng-model="arbm.unit">
											<option value="0">-- pilih unit --</option>
										</select>
									</div>
									
									<label for="arbm-kdproses" class="col-md-2 control-label" data-ng-class="{ 'col-md-offset-1': ! needUnit() }">KDPROSES:</label>
									<div class="col-md-3">
										<select name="kdproses" id="arbm-kdproses" class="form-control" data-ng-model="arbm.kdproses" data-ng-options="c.id as c.nama for c in kdproses"></select>
									</div>
								</div>
								<div class="form-group">
									<label for="arbm-blth" class="col-md-1 col-md-offset-1 control-label">BLTH:</label>
									<div class="col-md-3">
										<select name="blth" id="arbm-blth" class="form-control" data-ng-options="c.id as c.nama for c in blth" data-ng-model="arbm.blth"></select>
									</div>
									<div class="col-md-5">
										<button class="btn btn-primary" data-ng-click="loadData()"><i class="fa fa-fw fa-search"></i> Tampilkan</button> 
										<a data-ng-href="{{server}}/excel/analisa/rbm?{{getURL()}}" class="btn btn-success tooltips" title="ekspor ke excel"><i class="fa fa-save fa-lg"></i></a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="row" data-ng-show="rbmList.data.length > 0">
					<div class="col-md-8 col-md-offset-2">
						<div class="spacer-h"></div>
						<table class="table table-bordered table-condensed table striped table-hover">
							<thead>
								<tr>
									<th>NO</th>
									<th>RBM</th>
									<th>TOTAL PLG</th>
									<th>STAND LALU</th>
									<th>STAND INI</th>
									<th>PMK LALU</th>
									<th>PMK INI</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="c in rbmList.data">
									<td>{{$index + 1}}.</td>
									<td>{{c.rbm}}</td>
									<td class="text-right">{{c.plg}}</td>
									<td class="text-right">{{c.st_lalu}}</td>
									<td class="text-right">{{c.st_ini}}</td>
									<td class="text-right">{{c.kwh_lalu}}</td>
									<td class="text-right">{{c.kwh_ini}}</td>
								</tr>
							</tbody>
							<tfoot>
								<tr class="success">
									<th colspan="2" class="text-center">TOTAL</th>
									<th class="text-right">{{rbmList.total.plg}}</th>
									<th class="text-right">{{rbmList.total.st_lalu}}</th>
									<th class="text-right">{{rbmList.total.st_ini}}</th>
									<th class="text-right">{{rbmList.total.kwh_lalu}}</th>
									<th class="text-right">{{rbmList.total.kwh_ini}}</th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>