<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb breadcrumb-main">
			<li><a href="#/home">Aplikasi</a></li>
			<li><a href="#/menu/{{curMenu}}">{{getParentTitle()}}</a></li>
			<li class="active"><span class="label label-warning">{{getItemTitle(4)|uppercase}}</span></li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="well widget">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h4 class="text-info"><i class="fa fa-angle-double-right"></i> MONITORING TUSBUNG</h4>
						<div class="spacer-h"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-8 col-md-offset-2">
									<div class="well">
										<form role="form" class="form-horizontal" name="formi">
									
										<div class="form-group">
											<label for="dpm-unit" class="col-md-1 col-md-offset-1 control-label" data-ng-show="needUnit()">UNIT:</label>
											<div class="col-md-3" data-ng-show="needUnit()">
												<select name="unit" id="hp-unit" class="select2" style="width: 100%" data-ng-options="c.id as c.nama for c in unit" data-ng-model="hp.unit" data-ng-change="loadRBM()">
													<option value="0">-- pilih unit --</option>
												</select>
											</div>
											<label for="hp-rbm" class="col-md-1 control-label" data-ng-class="{ 'col-md-offset-1': ! needUnit() }">RBM:</label>
											<div class="col-md-3">
												<select name="rbm" id="hp-rbm" class="form-control" data-ng-model="hp.rbm" data-ng-options="c.id as c.nama for c in rbmList">
													<option value="">-- semua rbm --</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<label for="hp-tgl" class="col-md-1 col-md-offset-1 control-label">TGL:</label>
											<div class="col-md-3">
												<input type="text" name="tanggal" id="hp-tgl" class="form-control" data-ng-model="hp.tgl" datepicker>
											</div>
											<div class="col-md-5">
												<button class="btn btn-primary" data-ng-click="loadTusbung()"><i class="fa fa-fw fa-search"></i> Tampilkan</button>
											</div>
										</div>
										
										</form>
																				
										<!--
										<form role="form" class="form-horizontal" name="formi">
											<div class="form-group">
												<label for="hp-tgl" class="col-md-2 col-md-offset-1 control-label">TANGGAL:</label>
												<div class="col-md-2">
													<input type="text" name="tanggal" id="hp-tgl" class="form-control" data-ng-model="hp.tgl" datepicker>
												</div>
												<div class="col-md-4 col-md-offset-1">
													<button class="btn btn-primary" data-ng-click="loadTusbung()"><i class="fa fa-fw fa-search"></i> Tampilkan</button> 
												</div>
											</div>
										</form>
										-->
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									
									
									<!--
									<table class="table table-bordered table-condensed table-striped table-hover" data-ng-show="tusbung.length > 0">
										<thead>
											<tr>
												<th>JAM / PETUGAS</th>
												<th>PLGGN</th>
												<th>FOTO</th>
												<th>TAGIHAN</th>
												<th>AKSI</th>
											</tr>
										</thead>
										<tbody>
											<tr data-ng-repeat="c in tusbung">
												<td>{{c.jam}}<br>{{c.petugas}}<br>{{c.ketbaca}}</td>
												<td>{{c.idpel}}<br>{{c.nama}}<br>{{c.alamat}}<br>{{c.td}}</td>
												<td><a href="" data-target="{{server}}{{c.foto1}}" image-preview><img data-ng-src="{{server}}{{c.foto1}}" alt="foto meter" class="img-thumbnail img-preview"></a> <a href="" data-target="{{server}}{{c.foto2}}" image-preview><img data-ng-src="{{server}}{{c.foto2}}" alt="foto meter" class="img-thumbnail img-preview"></a></td>
												<td>LEMBAR: {{c.lembar}}<br>RPTAG: {{c.rptag}}<br>RPBK: {{c.rpbk}}</td>
												<td>
													<div class="btn-group btn-group-xs">
														<a href="" class="btn btn-xs btn-info tooltips" title="peta" load-map2="{{c.id}}" data-container="map-container"><i class="fa fa-map-marker"></i></a>
														<button class="btn btn-danger"  data-ng-show="c.status == '1'" title="set lunas" data-ng-click="setLunas($index)"><i class="fa fa-money"></i></button>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
									-->
									
									<table class="table table-bordered table-condensed table-striped table-hover" data-ng-show="tusbung.length > 0">
										<thead>
											<tr>
												<th>JAM</th>
												<th>PETUGAS</th>
												<th>IDPEL</th>
												<th>NAMA</th>
												<th>ALAMAT</th>
												<th>TARIF/DAYA</th>
												<th>LBKB</th>
												<th>FOTO 1</th>
												<th>FOTO 2</th>
												<th>LEMBAR</th>
												<th>RPTG</th>
												<th>RPBK</th>
												<th>AKSI</th>
											</tr>
										</thead>
										<tbody>
											<tr data-ng-repeat="c in tusbung">
												<td>{{c.jam}}</td>
												<td>{{c.petugas}}</td>
												<td>{{c.idpel}}</td>
												<td>{{c.nama}}</td>
												<td>{{c.alamat}}</td>
												<td>{{c.td}}</td>
												<td><strong class="tooltips" title="{{c.ketbaca}}">{{c.kdbaca}}</strong></td>
												<td><a href="" data-target="{{server}}{{c.foto1}}" image-preview><img data-ng-src="{{server}}{{c.foto1}}" alt="foto meter" class="img-thumbnail img-preview"></a></td>
												<td><a href="" data-target="{{server}}{{c.foto2}}" image-preview><img data-ng-src="{{server}}{{c.foto2}}" alt="foto meter" class="img-thumbnail img-preview"></a></td>
												<td>{{c.lembar}}</td>
												<td>{{c.rptag}}</td>
												<td>{{c.rpbk}}</td>
												<td>
													<div class="btn-group btn-group-xs" data-ng-show="c.status == '1'">
														<!--<a href="" class="btn btn-xs btn-info tooltips" title="peta" load-map2="{{c.id}}" data-container="map-container"><i class="fa fa-map-marker"></i></a>-->
														<button class="btn btn-danger" title="set lunas" data-ng-click="setLunas($index)"><i class="fa fa-money"></i></button>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>